.container {
  height: 50%;
  width: 70%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .container {
    background-color: white;
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container1 {
  background-image: linear-gradient(#e2a139, #f9d423);
  height: 100vh;
  border: solid 2px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 40px;
  width: 40px;
}
@media (min-width: 768px) {
  img {
    height: 60px;
    width: 60px;
  }
}
h1 {
  font-family: 'roboto';
  color: #a35200;
  font-size: 20px;
}
@media (min-width: 768px) {
  h1 {
    font-family: 'roboto';
    color: #a35200;
    font-size: 30px;
  }
}
p {
  font-family: 'roboto';
  color: #334155;
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 768px) {
  p {
    font-family: 'roboto';
    color: #334155;
    font-size: 16px;
    font-weight: 500;
  }
}
button {
  background-color: #f9d423;
  color: #a35200;
  border: none;
  height: 20px;
  border-radius: 08px;
  width: 78px;
  margin-top: 20px;
  font-size: 10px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  button {
    background-color: #f9d423;
    color: #a35200;
    border: none;
    height: 26px;
    border-radius: 08px;
    width: 88px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
.coinsContainer {
  display: flex;
}
.para {
  margin-right: 10px;
}
